* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  background: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
  padding: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Navigation Bar Styling */
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.title1 {
  min-width: 120px;
  padding: 10px 10px;
  /*background: -webkit-gradient(linear, left bottom, left top, from(#0b101a), to(#142030));
  background: linear-gradient(to top, #0b101a, #142030);*/
  background-color: #ffffff;
}



.topnav {
  overflow: hidden;
  /*background: -webkit-gradient(linear, left bottom, left top, from(#0b101a), to(#142030));
  background: linear-gradient(to top, #0b101a, #142030);*/
  background-color: #ffffff;
  width: 100%;
  
  
}

.topnav a {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { 
  background: rgba(0, 136, 0, 0.658);
  color: black;
}

.topnav a.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#0b101a), to(#142030));
  background: linear-gradient(to top, #0b101a, #142030);
  color: white;
  font-weight: bold;
  width: auto;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* left nav styling */
.nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 5px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #ff8200;
}

hr {
  background-color: #00c0e2;
  height: 2px;
  border: none;
}

/* Home section styling */
.home-section {
  width: 100%;
  min-height: 95vh;
  background: url(media/home-back3.jpg) no-repeat center center/cover;
  padding: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title_background {
  margin-top: 5vh;
  min-width: 80%;
  padding: 10px 30px;
  background: rgba(0, 136, 0, 0.658);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

  
}

.personalPicture{
  border-radius: 200px;
  
}

.home-section img {
  width: 45vw;
  height: auto;
  max-width: 300px;
  margin: none;
}




.home-section h1 {
  margin: 0;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.home-section h2 {  
  margin: 0;
  margin-top: 1vh;
  font-size: 2em;
  color: rgb(255, 164, 59);
  text-align: center;
  
}


.home-section a {
  font-size: 25px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
}

.btn {
  color: #696868;
}

.blktext {
  color: black;
}

.btn:hover {
  color: rgb(109, 109, 109);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 630ms ease-in-out;
  transition: -webkit-transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out, -webkit-transform 630ms ease-in-out;
  cursor: pointer;
}

/* Career section styling */
.career-section {
  width: 100%;
  min-height: 50vh;
  background: white;
    margin: 0;
  padding-bottom: 1vh;
}

.career-content h2 {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.career-content p {
  padding: 90px 40px 0px 40px;
  text-align: justify;
  color: #000000;
  font-size: 1em;
}

.career-content a {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0px 40px;
  display: inline-block;
}


/* Projects Styling */
.projects h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-size: 2em;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3,1fr) ;
      grid-template-columns: repeat(3, 1fr);
    align-items: center;
  gap: 20px;  
  min-height: 60vh;
}

.projects-grid img {
  width: 30vw;
  min-width: 300px;
  height: 25vh;
}

.projects-grid img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 630ms ease-in-out;
  transition: -webkit-transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out, -webkit-transform 630ms ease-in-out;
}

.projects-grid h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.projects-grid p {
  margin: 10px 0;
  text-align: justify;
}

.projects-grid a {
  display: inline-block;
}




/* SKILLS section styling */
.skills-section {
  width: 100%;
  min-height: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#0b101a), to(#142030));
  background: white;
  margin-top: 20px;
  padding: 2vh 0 10vh 0;
}

.skills-section h2 {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  height: auto;  
}

.skills-grid h3 {
  font-size: 1.5em;
  margin: 30px 0;
  text-align: center;
  cursor: default;
}

.skills-grid h3:hover {
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 630ms ease-in-out;
  transition: -webkit-transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out, -webkit-transform 630ms ease-in-out;
   
}

.skills-grid img {
  width: 10vh;
  height: auto;
  border-radius: 15%;

}

/* FLOAT ANIMATION */
.float1 {

  
  overflow: hidden; 
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
}

.float2 {

    overflow: hidden; 
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
  
}

.float3 {
  overflow: hidden; 
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.float4 {

  overflow: hidden; 
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;

}

.float5 {

  overflow: hidden; 
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;

}



/* footer section  */
.followMe {
  margin-top: 30px;
  background-color: #2f2f2f;
  padding: 35px 0;
}

.followMe h2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2em;
  margin: 3vh auto;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
  color: #00c0e2;
}

.sign {
  text-align: center;
  margin-top: 30px;
  font-size: 10px;
  color: #616161;
}

.btn-secondary {
  background-color:  rgba(0, 136, 0, 0.507);
  border-width: 0px;
}

.img-thumbnail {
  border-width: 0px;
  padding: 0;
}

.btn-secondary:hover {
  background-color: rgba(255, 0, 0, 0);
}

/* media queries */
@media (max-width: 1000px) {
  .projects-grid {
    -ms-grid-columns: (1fr);
        grid-template-columns:  1fr;
        justify-items: center;
              
  }
}

@media (max-width: 780px) {
  .skills-grid {
    -ms-grid-columns: (1fr);
    grid-template-columns:  1fr;
    justify-items: center;

}
}

@media (max-width: 780px) {
  .nav-main ul.nav-menu {
    font-size: 12px;
  }
  .nav-logo {
    width: 30px;
  }
  .nav-men-right a i {
    font-size: 15px;
  }
  .career-content p {
    padding: 45px 40px 0px 40px;
  }
}

/* Color change -----------*/
.glow {
  max-width: 80vw;
  -webkit-animation: color_change 2s infinite alternate;
  animation: color_change 2s infinite alternate;
}

@-webkit-keyframes color_change {
  from {
    color: white;
  }
  to {
    color: #ff8400;
  }
}

@keyframes color_change {
  from {
    color: white;
  }
  to {
    color: #ff8200;
  }
}


 

@keyframes float {
	0% {
		box-shadow : 0 5px 0px 0px rgba(0,0,0,0.1);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 0px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 0px 0px rgba(0,0,0,0.1);
		transform: translatey(0px);
	}
}