* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  background: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
  padding: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Navigation Bar Styling */
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.title1 {
  min-width: 20px;
  padding: 10px 10px;
  text-decoration: none;
  color: #3d3d3d;
}

.topnav {
  overflow: hidden;

  background-color: #ffffff;
  width: 100%;
  
  
}

.topnav a {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { 
  background: rgba(0, 136, 0, 0.658);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#0b101a), to(#142030));
  background: linear-gradient(to top, #0b101a, #142030);
  color: white;
  font-weight: bold;
  width: auto;
}

.topnav .icon {
  display: none;
}



/* left nav styling */
.nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 5px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #ff8200;
}

hr {
  background-color: #00c0e2;
  height: 2px;
  border: none;
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 630ms ease-in-out;
  transition: -webkit-transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out, -webkit-transform 630ms ease-in-out;
  cursor: pointer;
  font-weight: bolder;
}

/* form section styling */

.form-section {
  min-height: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 ;
}

.form-section p {
  width: 70%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-size: 1.1em;
  line-height: 1.5em;
}


.form-content h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  margin: 0;
  text-align: center;
}

.form-content .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-content .card-header {
  color: #3d3d3d;
  background-color:  rgba(0, 136, 0, 0.507);
  
  
}

.form-content .card .btn {
  color: #ffffff;
  background-color:  rgba(0, 136, 0, 0.507);
  border: 0;
}

.form-content .card #consulta {
  background-color:  #eca252;
}


/* Results styling */

.result-section {
  min-height: 10%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-content h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  margin: 0;
  text-align: center;
}

.result-content .card {
 border: 0;
 color: #3d3d3d;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.result-content .card .btn {
  border: 0;
}


/* footer section  */
.followMe {
  margin-top: 30px;
  background: #008800a8;
}

.followMe .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.followMe .group-1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.followMe .group-1 figure img {
  width: 250px;
}

.followMe .group-1 .box p {
  color:#202020;
  margin: 20px 0;
}

.followMe .group-1 .social-net a {
  display: inline-block;
  text-decoration: none;
  font-size: 2em;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: #ebebeb;
  background-color: #3c993c ;
  border-radius: 25px;
  margin: 20px 5px;
  text-align: center;
  padding: 0;
}

.followMe .group-2 {
  background-color: #3c993c ;
  padding: 15px 10px;
  text-align: center;
  color: #ebebeb;
}


/* media queries */

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (max-width: 780px) {
  .nav-main ul.nav-menu {
    font-size: 12px;
  }
  .nav-logo {
    width: 30px;
  }
  .nav-men-right a i {
    font-size: 15px;
  }
  .form-content p {
    padding: 45px 40px 0px 40px;
  }
}

@media screen and (max-width: 875px) {

  .followMe .group-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    padding-top: 10px;
  }
  
}

/* Color change -----------*/

.glow2 {
  max-width: 80vw;
  -webkit-animation: color_change2 2s infinite alternate;
  animation: color_change2 2s infinite alternate;
}
@keyframes color_change2 {
  from {
    color: #ff8400;
  }
  to {
    color: #ffc07c;
  }
}
