* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  background: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
  padding: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Navigation Bar Styling */
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.title1 {
  min-width: 20px;
  padding: 10px 10px;
  text-decoration: none;
  color: #3d3d3d;
}


.topnav {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  
  
}

.topnav a {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { 
  background: rgba(0, 136, 0, 0.658);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#0b101a), to(#142030));
  background: linear-gradient(to top, #0b101a, #142030);
  color: white;
  font-weight: bold;
  width: auto;
}

.topnav .icon {
  display: none;
}



/* left nav styling */
.nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 5px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #ff8200;
}

hr {
  background-color: #00c0e2;
  height: 2px;
  border: none;
}

/* Home section styling */
.home-section {
  width: 100%;
  min-height: 100%;
  background: url(../media/home-back3.jpg) no-repeat center center/cover;
  padding: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title_background {
  margin-top: 5vh;
  min-width: 80%;
  padding: 10px 30px;
  background: rgba(0, 136, 0, 0.658);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  
}

.personalPicture{
  border-radius: 200px;
  
}

.home-section img {
  width: 45vw;
  height: auto;
  max-width: 300px;
  margin: none;
  object-fit: cover;
}


.home-section h1 {
  margin: 0;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.home-section h2 {  
  margin: 0;
  margin-top: 1vh;
  font-size: 2em;
  color: rgb(255, 164, 59);
  text-align: center;
  font-weight: bolder;
}


.home-section a {
  font-size: 25px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
}

.home-section .btn {
  color: #ffffff;
}

.blktext {
  color: black;
}

.btn:hover {

  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 630ms ease-in-out;
  transition: -webkit-transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out, -webkit-transform 630ms ease-in-out;
  cursor: pointer;
  font-weight: bolder;
}


/* Experiencia styling */
.career-section {
  min-height: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.career-section h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  margin: 0;
}

.career-section p {
  width: 70%;
  padding: 10px;
  margin: 10px;
  text-align: justify;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-size: 1.1em;
  line-height: 1.5em;
}


/* Certificaciones Styling */

.row .title {
  text-align: center;
  margin: auto;
}

.row .title h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}

.certificaciones-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
}

.certificaciones-content .card {
  flex: 1;
  height: auto;
  margin: 20px 20px;
}

.certificaciones-content .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.certificaciones-content .card h3 {
  margin: 10px 0;
  padding: 10px 0;
}

.certificaciones-content .card p {
  margin: 10px 0;
  padding: 10px 0;
  text-align: justify;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-size: 1.1em;
  line-height: 1.5;
}





 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 630ms ease-in-out;
  transition: -webkit-transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out;
  transition: transform 630ms ease-in-out, -webkit-transform 630ms ease-in-out;
  cursor: pointer;
}


/* About me section styling */
.myself-section{
  min-height: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.myself-section h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}

.myself-section p {
  width: 70%;
  padding: 10px;
  margin: 10px;
  text-align: justify;
  letter-spacing: 1px;
  color: #000000;
  font-size: 1.1em;
  line-height: 1.5em;
}


/* Certificaciones Styling */

.row .title {
  text-align: center;
  margin: auto;
}

.row .title h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}

.evaluate-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
}

.evaluate-content .card {
  flex: 1;
  height: auto;
  margin: 20px 20px;
}

.evaluate-content .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.evaluate-content .card h3 {
  margin: 10px 0;
  padding: 10px 0;
}

.evaluate-content .card p {
  margin: 10px 0;
  padding: 10px 0;
  text-align: justify;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-size: 1.1em;
  line-height: 1.5;
}



/* footer section  */
.followMe {
  margin-top: 30px;
  background: #008800a8;
}

.followMe .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.followMe .group-1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.followMe .group-1 figure img {
  width: 250px;
}

.followMe .group-1 .box p {
  color:#202020;
  margin: 20px 0;
}

.followMe .group-1 .social-net a {
  display: inline-block;
  text-decoration: none;
  font-size: 2em;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: #ebebeb;
  background-color: #3c993c ;
  border-radius: 25px;
  margin: 20px 5px;
  text-align: center;
}

.followMe .group-2 {
  background-color: #3c993c ;
  padding: 15px 10px;
  text-align: center;
  color: #ebebeb;
}



/* BOTON FLOTANTE WHATSAPP */
.experiencia a i  {
  font-size: 2rem;
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  text-align: center;
  color: rgb(37, 158, 63);
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
}


/* Color change -----------*/

.glow2 {
  max-width: 80vw;
  -webkit-animation: color_change2 2s infinite alternate;
  animation: color_change2 2s infinite alternate;
}
@keyframes color_change2 {
  from {
    color: #ff8400;
  }
  to {
    color: #ffc07c;
  }
}


/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:790px) {
  .career-section p {
    width: 70%;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #3d3d3d;
    font-size: 1em;
    line-height: 1.2em;
  }
}


@media screen and (max-width:790px) {
  .certificaciones-content {
    flex-direction: column;
  }
}

@media screen and (max-width:790px) {
  .evaluate-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 875px) {

  .followMe .group-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    padding-top: 10px;
  }
  
}